{% block panier %}
    <div id="minipanier">
        <h5 id="toggle-panier" class="text-center">Mon Panier <i class="fas fa-sort-down"></i></h5>
        <div id="minipanier-content">

            <table id="table-panier" class="table">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Produit</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Unités</th>
                        <th scope="col">Montant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                    </tr>
                    <tr class="text-center">
                        <td class="text-right" colspan="3">Total</td>
                        <td>25€</td>
                    </tr>
                </tbody>
            </table>
            <div id="edit-mini" class="d-flex justify-content-around">
                <a href="{#{{ path() }}#}" type="button" class="btn btn-warning">Editer</a>
                <a href="{#{{ path() }}#}" type="button" class="btn btn-danger">Vider</a>
            </div>

        </div>
    </div>
{% endblock %}