{% extends 'base.html.twig' %}

{% block title %}Nouveau Panier{% endblock %}

{% block body %}
    <h1 class="admin-title text-center">Créer un nouveau Panier</h1>

    {{ include('panier/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('admin_paniers') }}">Retourner à la liste</a>
{% endblock %}
