<div id="accordion">
    <h2 class="text-center">Catégories</h2>
    <div class="accordion-item">
        <ul id="accordion-categories" class="list-group list-group-flush text-center">
            {% for category in categories %}
            <li class="bg-warning list-group-item"><a href="{{ path('cat_produits', {nom: category.nom}) }}">{{ category.nom }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    <h2 class="text-center">Etiquettes</h2>
    <div class="accordion-item">
        <div id="menu-etiquettes" class="d-flex flex-wrap justify-content-around">
            {% for tag in tags %}
                <h3 class="my-1">
                    <span class="badge badge-primary">
                        <a href="{{ path('tag_produits', {nom:tag.nom}) }}">{{ tag.nom }}</a>
                    </span>
                </h3>
            {% endfor %}
        </div>
    </div>
    <hr>
    <h2 class="text-center">Recherche</h2>
    <div class="accordion-item" id="search">
        <div class="form-group">
            <label for="nom">Nom/mot cle</label>
            <input id="nom" name="nom" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label class="d-block" for="maxprice">Prix maximal: <span id="price-selected">20&euro;</span></label>
            <input id="maxprice" name="maxprice" type="range" min="5" max="500" value="20">
            
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="order" id="ascendant" value="ASC" checked>
                <label class="form-check-label" for="ascendant">
                    Par prix ascendant
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="order" id="descendant" value="DESC">
                <label class="form-check-label" for="descendant">
                    Par prix descendant
                </label>
            </div>
        </div>
        <button id="lance-recherche" class="btn btn-success">Rechercher</button>
        <div id="results">
        </div>
    </div>
</div>

