{% extends "base.html.twig" %}

{% block body %}
    
    <div class="row resultat">
        <div class="col-12">
            <h1 class="text-center">À propos de project.com</h1>
            <h5 class="text-center py-3">Ce projet à été développé par Pierre-Louis et par Lluis Camps</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus tellus lectus, ut porttitor arcu vehicula a. Integer sollicitudin sollicitudin lobortis. Etiam consequat at tellus at accumsan. Curabitur aliquam orci vitae velit iaculis vulputate eu vel quam. Duis id leo elementum, pellentesque tortor a, laoreet quam. Sed eu mi purus. Vivamus scelerisque felis risus, vel aliquam sapien maximus nec. Quisque pretium urna ut magna fermentum, et consectetur tortor facilisis. Vestibulum euismod nulla ac felis pellentesque lacinia.
            </p>
            <p>
                Donec nisl sem, fringilla non mi nec, tempor commodo ex. Nunc a malesuada enim, sed volutpat dolor. Mauris velit mi, suscipit sit amet sem eget, lacinia cursus purus. Nam tristique placerat sodales. Nulla egestas nibh enim, at sagittis purus consequat vel. Nunc ultricies vulputate luctus. Phasellus congue cursus aliquet. Etiam posuere ac lacus id accumsan. Nam enim felis, ornare et tortor mattis, dictum tristique odio. Phasellus laoreet tellus mauris, sodales ullamcorper orci pellentesque vitae. Nulla sapien massa, blandit a est ut, lobortis fringilla lectus. Maecenas venenatis mi libero, vel interdum nulla viverra et. Duis dignissim risus quis libero vestibulum, ac efficitur dolor pulvinar.
            </p>
            <p>
                Donec elementum purus vel velit pretium rhoncus vitae eu sem. Mauris ut risus in mauris suscipit convallis. Phasellus suscipit orci in velit pulvinar, posuere ultricies felis vulputate. Nam nec nisl et mauris dapibus lobortis at ut nulla. In dui orci, elementum non nulla sed, aliquet semper tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed rutrum lorem quis lorem maximus lacinia. Sed quis nisl tincidunt odio congue efficitur at nec nibh. Donec vestibulum, eros eget molestie malesuada, metus tellus maximus turpis, molestie tincidunt purus lacus nec quam. Cras rhoncus non est ac imperdiet. Nullam vitae vestibulum orci, sed laoreet nisi. Nam non risus dolor. Morbi sed tincidunt massa. Curabitur id mi cursus, feugiat lacus sit amet, egestas sapien. Praesent ligula libero, blandit vel odio non, auctor interdum justo.
            </p>                    
            <p>
                Mauris vehicula orci sit amet velit dictum, vel dictum magna viverra. Donec ac felis mi. Donec luctus non turpis a elementum. Etiam sollicitudin elit est, at convallis leo accumsan eu. Ut ornare laoreet tincidunt. Nulla consectetur diam at purus tincidunt, at auctor massa eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla eget eros non purus facilisis efficitur. Nunc imperdiet lectus vel convallis porttitor. Praesent vulputate eleifend vulputate. Quisque hendrerit augue iaculis augue faucibus hendrerit.
            </p>                    
            <p>
                Etiam eleifend semper diam. Nam eu mauris lorem. Praesent laoreet congue lorem at porttitor. Vivamus vel accumsan ipsum. Nullam rhoncus lacinia malesuada. Aenean luctus ornare eleifend. Maecenas dictum purus sit amet nisl pretium, ac facilisis leo finibus. 
            </p>                    
        </div>
    </div>

{% endblock %}