{% extends "base.html.twig" %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block body %}
    <article class="py-3 px-5">
        <h1 class="text-center">{{ titre }}</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fugiat ullam, eos aut ipsam, aspernatur odio accusamus voluptates non quae laudantium, officiis consequatur eaque. Esse voluptatem iste velit odit voluptatibus!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fugiat ullam, eos aut ipsam, aspernatur odio accusamus
            voluptates non quae laudantium, officiis consequatur eaque. Esse voluptatem iste velit odit voluptatibus!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fugiat ullam, eos aut ipsam, aspernatur odio accusamus
            voluptates non quae laudantium, officiis consequatur eaque. Esse voluptatem iste velit odit voluptatibus!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fugiat ullam, eos aut ipsam, aspernatur odio accusamus
            voluptates non quae laudantium, officiis consequatur eaque. Esse voluptatem iste velit odit voluptatibus!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fugiat ullam, eos aut ipsam, aspernatur odio accusamus
            voluptates non quae laudantium, officiis consequatur eaque. Esse voluptatem iste velit odit voluptatibus!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fugiat ullam, eos aut ipsam, aspernatur odio accusamus
            voluptates non quae laudantium, officiis consequatur eaque. Esse voluptatem iste velit odit voluptatibus!
        </p>
    </article>

{% endblock %}