/*
fonts
*/
/*

*/
/*
*/
body {
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
a.icon, i   {
            min-width: 15px;
            min-height: 15px;
            }
.titre  {
        font-family: 'Share Tech Mono', monospace;
        text-align: center;
        }
#header {
    background-color: rgb(140, 140, 140)
}
#nav {
    background-color: rgba(9, 175, 9, 0.8)
}
#sidebar {
    background-color: rgba(168, 11, 11, 0.8)
}
#body {
    background-color: rgba(230, 230, 230, 1)
}

#footer {
    background-color: rgba(40, 125, 253, 0.87)   
}

/*Page produit par tag */
.produit-tag {
    object-fit: contain; /*or cover*/
}

/*Accordion et formulaire*/
#search {
    font-size: 1.2em;
    color: white;
}
#price-selected {
    color: black;
    font-size: 1.5em;
    float: right;
}
input[type="range"] {
    width: 100%;
}
#accordion h2 {
    cursor: pointer;
}
#accordion a {
    color: black;
}
@keyframes spinner {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#spinning {
    animation: 1s linear infinite spinner;
}