/*
fonts
*/
/*
*/
/*
*/
body {
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
/* Nav: Couleur qui contraste avec le bleu*/
#nav {
    color: white;
}
/*Supprimer l'estil par defaut des listes*/
ul {
    list-style-type: none;
    padding: 0;
}
i   {    
    color:rgba(253, 249, 40, 0.87);
    padding-left: 5px;
    }

.titre  {
        font-family: 'Share Tech Mono', monospace;
        text-align: center;
        color:goldenrod;
        }

#header {
    background-color: rgba(4, 52, 122, 0.87)  
}

#nav {
    background-color: rgba(59, 104, 185, 0.8)
}

#sidebar {
    background-color: rgba(59, 104, 185, 0.8);
    width: 385px;
}
.milieu     {
            background-color: rgba(36, 87, 182, 0.8);
            }
#body   {
        background-color: rgba(230, 230, 230, 1);
        max-width: 1205px;
        }

#footer {
        background-color: rgba(4, 52, 122, 0.87);
        }
        
#footer h5  {
            color: goldenrod
            }

.lien   {
    color: rgba(253, 249, 40, 0.87);
    /*font-size: 75%;*/
    }
        
/*Page produit par tag */
.produit-tag    {
                object-fit: contain; /*or cover*/
                }

/*Accordion et formulaire*/
#accordion {
    padding-top: 30px;
}
.ui-accordion-header {
    transition: color .3s linear;
    padding: 10px 0;
    font-size: 2em;
}
/*
article     {
            margin: 10px;
            }
*/
.accordion-item {
    display: none;
}
.ui-state-hover {
    color: white;
}
#accordion-categories {
    font-size: 1.2em;
    font-weight: bold;
}
#search {
    font-size: 1.2em;
    color: white;
}

#price-selected {
    color: black;
    font-size: 1.5em;
    margin-left: 20px; 
}
input[type="range"] {
    width: 100%;
}
#results li {
    padding: 5px 10px;
    font-size: 1em;
    text-align: center;
}

#accordion h2 {
    cursor: pointer;
}
#accordion a {
    color: black;
}
@keyframes spinner {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
#spinning {
    animation: 1s linear infinite spinner;
    color: white;
    font-size: 2em;
}
#results {
    padding: 15px 5px;
}
/* Mini panier*/
#minipanier {

    /* width: 300px; ?? */
    position: fixed;
    right: 30px;
    top: 50px;
}
#minipanier-complet {
    padding: 10px;
    background-color: rgba(138,43,226,.4);
    border: 2px solid blueviolet;
}
#minipanier-complet > h5 {
    margin-bottom: 0;
}
#minipanier-content {
    background-color: blueviolet;
    display: none;
    margin-top: .5rem;
}
#minipanier-complet #edit-mini {
    padding: 5px 0;
}

/* Alertes quand on reussit à faire une action (Flash)*/
#flash {
    position: absolute;
    z-index: 50;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
    font-size: 2em;
    border: 2px solid black;
}

/* Modals pour confirmer les suppresions */
#modal {
    display: none;
    z-index: 100;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(90, 90, 90, .8);
}
#modal > div {
    padding: 20px;
    background-color: white;
    height: 150px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#modal > div > p {
    margin: 0;
}
#modal > div > #buttons {
    width: 50%;
    margin: 1em auto 0;
    display: flex;
    justify-content: space-between;
}
/* Panier */
.action {
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
    background: none;
    border: none !important;
    outline: none !important;
}
.action:hover, .action:active {
    background: none;
    outline: none;
}
.form {
    display: inline-block;
}
.form[type="number"] {
    display: block;
    width: 50px;
}
.form p{
    position: relative;
    margin-bottom: 0;
}
.form p i {
    color: black;
    margin: auto;
    font-size: 1.2em;
    border-radius: 5px;
    pointer-events: none;
    padding: 10px;
}

.form p .supprime ~ i {
    background-color: #dc3545;
}
.form p .modifie ~ i {
    background-color: #ffc107;
}