{% extends 'base_admin.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-md-8 offset-md-2">

        <h1 class="admin-title text-center">Créer un nouveau produit</h1>
        
        {{ include('produit/_form.html.twig') }}
        
        <a href="{{ path('produit_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
