{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
<h1 class="admin-title text-center">Créer une nouvelle catégorie</h1>

{{ include('admin/_form_produit.html.twig') }}

<a class="btn btn-primary" href="{{ path('admin_produits') }}">Retourner à la liste</a>
{% endblock %}