{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block body %}
    <h1 class="admin-title text-center">Créer un nouveau Client</h1>

    {{ include('client/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('client_index') }}">Retourner à la liste</a>
{% endblock %}
