{% extends 'base.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block body %}
    <h1 class="admin-title text-center">Créer une nouvelle etiquette</h1>

    {{ include('tag/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('tag_index') }}">Retourner à la liste</a>
{% endblock %}
