{% extends 'base_admin.html.twig' %}

{% block title %}Nouvelle Etiquette{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <h1 class="admin-title text-center">Créer une nouvelle etiquette</h1>

        {{ include('tag/_form.html.twig') }}

        <a class="btn btn-primary" href="{{ path('tag_index') }}">Retourner à la liste</a>
    </div>
</div>
{% endblock %}
